* {
  color:#2d1d73
}

body {
  background-color:#dad3f4;
  font-size:15px;
  font-family:sans-serif;
  line-height:1.4
}

main {
  margin:auto;
  max-width:70ch;
  padding:2ch
}

main * {
  margin-bottom:20px
}

a {
  color:#4561c9;
  font-weight:bold
}

a:hover {
  color:#324dae
}
