* {
  color:#2d1d73
}

body {
  background-color:#dad3f4;
  font-size:15px;
  font-family:sans-serif;
  line-height:1.4
}

main, footer {
  margin:auto;
  max-width:70ch;
  padding:2ch
}

main * {
  margin-bottom:20px
}

h4 {
  margin-bottom:2px
}

h4 + p {
  margin-top:0
}

a {
  font-weight:bold;
  color:#4561c9
}

a:hover {
  color:#324dae
}

a[target="_blank"]:after {
  content:"\00a0*";
  display:inline-block;
  text-decoration:none
}

em, small {
  color:#5438ce
}

code {
  font-size:14px
}

pre {
  padding:5px 10px;
  background:#d0c5f4
}

img {
  margin:0
}
